{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <div class="App">
            <header>
                <nav>
                    <h1><a href="{% url 'articles:all' %}">Blog</a></h1>
                    <ul>
                        {% if user.is_authenticated %}
                            
                            <li>
                                <form action="{% url 'accounts:logout' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="log out" />
                                </form>
                            </li>
                            <li>
                                <a href="{% url 'articles:create' %}">add blog</a>
                            </li>

                        {% else %}
                            <li>
                                <a href="{% url 'accounts:sign-in' %}">sign in</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:sign-up' %}">sign up</a>
                            </li>
                        
                        {% endif %}
                    </ul>
                </nav>
            </header>
            {% if user.is_authenticated %}
                <h1>Hi {{user}}!</h1>
            
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>